.button {
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button-gear {
        -fx-padding: 1px;
        -fx-background-insets: 1px;
        -fx-border-insets: 1px;
        -fx-border-radius: 10px;
        -fx-background-radius: 10px;
        -fx-background-color: transparent;
}

.button-gear:hover {
        -fx-background-color: #CCCCCCFF;
}

.button-gear:pressed {
        -fx-background-color: #999999FF;
}

.menu-button {
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.menu-button-gear {
    -fx-padding: 1px;
    -fx-background-insets: 1px;
    -fx-border-insets: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}

.menu-button-gear:hover {
    -fx-background-color: #CCCCCCFF;
}

.menu-button-gear:pressed {
    -fx-background-color: #999999FF;
}


.vbox-style {
    -fx-background-color: #FFFFFF;
    -fx-padding: 1px;
}




